# Server Settings
PORT=1234

# Security Configurations
JWT_SECRET=placeholder-secret-key-change-in-production
JWT_EXPIRES_IN=24h

# Database Connection Fields
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=enter01123856269
DB_NAME=elivate_db

# Prisma URL Connection String
DATABASE_URL="mysql://username:password@localhost:3306/elivate_db"

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="Elevate <@gmail.com>"
FRONTEND_URL=http://localhost:4200

# RabbitMQ Configuration
RABBITMQ_URL=
EMAIL_QUEUE_NAME=

# Google Authentication Configuration
GOOGLE_OAUTH_CLIENT_SECRIT=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CALLBACK_URL=http://localhost:1234/auth/google/callback

# Security Configurations
JWT_SECRET=
JWT_EXPIRES_IN=24h

GEMINI_AI_API=

# PayMob Configurations
SECRET_KEY_TEST_PAYMOB=
PAYMOB_WEBHOOK_URL=
