# Server Settings
PORT=1234

# Security Configurations
JWT_SECRET=placeholder-secret-key-change-in-production
JWT_EXPIRES_IN=24h

# Database Connection Fields
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=academic_mentorship

# Prisma URL Connection String
DATABASE_URL="mysql://root:root@localhost:3306/academic_mentorship"
